@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #f2e3e6;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ff0000;
    top: 81%;
    left: 79%;
    animation-duration: 38s;
    animation-delay: -28s;
    transform-origin: -20vw -21vh;
    box-shadow: 40vmin 0 5.06962538872577vmin currentColor;
}
.background span:nth-child(1) {
    color: #f00000;
    top: 59%;
    left: 3%;
    animation-duration: 53s;
    animation-delay: -14s;
    transform-origin: -22vw -13vh;
    box-shadow: -40vmin 0 5.049091603913297vmin currentColor;
}
.background span:nth-child(2) {
    color: #f00000;
    top: 18%;
    left: 89%;
    animation-duration: 44s;
    animation-delay: -45s;
    transform-origin: -15vw 4vh;
    box-shadow: -40vmin 0 5.811636141788846vmin currentColor;
}
.background span:nth-child(3) {
    color: #ff0000;
    top: 37%;
    left: 32%;
    animation-duration: 19s;
    animation-delay: -7s;
    transform-origin: -22vw 2vh;
    box-shadow: 40vmin 0 5.103870108592659vmin currentColor;
}
.background span:nth-child(4) {
    color: #f00000;
    top: 48%;
    left: 84%;
    animation-duration: 25s;
    animation-delay: -27s;
    transform-origin: -18vw -21vh;
    box-shadow: 40vmin 0 5.311001941078465vmin currentColor;
}
.background span:nth-child(5) {
    color: #ff0000;
    top: 29%;
    left: 85%;
    animation-duration: 41s;
    animation-delay: -46s;
    transform-origin: 7vw -19vh;
    box-shadow: 40vmin 0 5.257929202293493vmin currentColor;
}
.background span:nth-child(6) {
    color: #f0adad;
    top: 41%;
    left: 44%;
    animation-duration: 49s;
    animation-delay: -41s;
    transform-origin: -23vw 24vh;
    box-shadow: 40vmin 0 5.157850009446339vmin currentColor;
}
.background span:nth-child(7) {
    color: #f0adad;
    top: 45%;
    left: 97%;
    animation-duration: 6s;
    animation-delay: -15s;
    transform-origin: -19vw 20vh;
    box-shadow: -40vmin 0 5.517609297682754vmin currentColor;
}
.background span:nth-child(8) {
    color: #ff0000;
    top: 100%;
    left: 42%;
    animation-duration: 55s;
    animation-delay: -7s;
    transform-origin: 20vw 16vh;
    box-shadow: -40vmin 0 5.2402815894695935vmin currentColor;
}
.background span:nth-child(9) {
    color: #f00000;
    top: 67%;
    left: 100%;
    animation-duration: 43s;
    animation-delay: -3s;
    transform-origin: -13vw 10vh;
    box-shadow: -40vmin 0 5.405847420155167vmin currentColor;
}
.background span:nth-child(10) {
    color: #ff0000;
    top: 78%;
    left: 87%;
    animation-duration: 37s;
    animation-delay: -50s;
    transform-origin: 10vw -10vh;
    box-shadow: 40vmin 0 5.6047078826963075vmin currentColor;
}
.background span:nth-child(11) {
    color: #f00000;
    top: 43%;
    left: 39%;
    animation-duration: 11s;
    animation-delay: -38s;
    transform-origin: 24vw -15vh;
    box-shadow: -40vmin 0 5.845677986294958vmin currentColor;
}
.background span:nth-child(12) {
    color: #f0adad;
    top: 23%;
    left: 43%;
    animation-duration: 12s;
    animation-delay: -17s;
    transform-origin: -4vw -23vh;
    box-shadow: -40vmin 0 5.525688042581913vmin currentColor;
}
.background span:nth-child(13) {
    color: #ff0000;
    top: 78%;
    left: 74%;
    animation-duration: 43s;
    animation-delay: -2s;
    transform-origin: 13vw 14vh;
    box-shadow: -40vmin 0 5.938847180418975vmin currentColor;
}
.background span:nth-child(14) {
    color: #ff0000;
    top: 24%;
    left: 38%;
    animation-duration: 25s;
    animation-delay: -47s;
    transform-origin: 24vw 15vh;
    box-shadow: -40vmin 0 5.919647555206084vmin currentColor;
}
.background span:nth-child(15) {
    color: #f0adad;
    top: 74%;
    left: 86%;
    animation-duration: 50s;
    animation-delay: -8s;
    transform-origin: -24vw -12vh;
    box-shadow: -40vmin 0 5.9065283342031805vmin currentColor;
}
.background span:nth-child(16) {
    color: #ff0000;
    top: 74%;
    left: 75%;
    animation-duration: 49s;
    animation-delay: -44s;
    transform-origin: 21vw -1vh;
    box-shadow: 40vmin 0 5.234079675820638vmin currentColor;
}
.background span:nth-child(17) {
    color: #f00000;
    top: 43%;
    left: 2%;
    animation-duration: 35s;
    animation-delay: -17s;
    transform-origin: 21vw -5vh;
    box-shadow: 40vmin 0 5.304697249323419vmin currentColor;
}
.background span:nth-child(18) {
    color: #ff0000;
    top: 58%;
    left: 35%;
    animation-duration: 50s;
    animation-delay: -20s;
    transform-origin: 25vw -10vh;
    box-shadow: 40vmin 0 5.417062029107813vmin currentColor;
}
.background span:nth-child(19) {
    color: #f0adad;
    top: 13%;
    left: 48%;
    animation-duration: 50s;
    animation-delay: -47s;
    transform-origin: -18vw 8vh;
    box-shadow: 40vmin 0 5.777263439334549vmin currentColor;
}
